# Build artifacts
*.exe
*.dll
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.idb

# Build folders
Debug/
Release/
x64/
x86/
build/
out/

# IDE
.vs/

# OS
.DS_Store
Thumbs.db

!APC_injection/apc.exe
!APC_injection/alertable_process.exe